/* Info Page */
body {
    background: white;
    font-family: 'Comic Sans MS', monospace;
}



/* delete, empty: Ellipse 20 

position: absolute;
visibility: hidden;
width: 137px;
height: 137px;
left: 501px;
top: 871px;

background: #FFAC5F;


/* delete, empty: Ellipse 21 

position: absolute;
visibility: hidden;
width: 100px;
height: 100px;
left: 571px;
top: 903px;

background: #8D1A1A;


/* background: Rectangle 20 

position: absolute;
width: 1440px;
height: 1024px;
left: 0px;
top: 0px;

background: #6479EB;






/* home button: Frame 1 */

/* Auto Layout */
#home {
    background: #6479EB;
    height: 2rem;
    width: 8rem;
    justify-content: center;
    text-align: center;
}
/* top left corner box: Rectangle 19 */
.navbar {
    height: 4rem;
    background: #C67CE9;
}

#home_tag {
    letter-spacing: 0em;
    font-size: 1rem;
    text-align: center;
    color: white;
    padding: 2rem;
}

#left {
    background-color: #C67CE9;
    padding-left: 0;
    padding-right: 0;
}
#right {
    background-color: #DCB1B1;
    padding-left: 0%;
    justify-content: center;
}

#user_input_container {
    background-color: #6479EB;
    width: 100%;
    justify-content: center;
}


#instructions {
    background-color: #6479EB;
    height: 4rem;
    width: 90%;
    padding-top: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 63px;
    text-align: center;

    color: #000000;

}
#empty {
    height: 4rem;
    background-color: #DCB1B1;
}
/* inner box (instructions/info): Rectangle 39 */
#stuff {
    padding-top: 5rem;
    width: 90%;
    height: 75%;

    background:  #C67CE9; 
}


label {
    width: 90%;
    height: 35px;
    color: black;
    font-size: 1.2rem;
    font-weight: 100;
    text-align: left;
    background: #DCB1B1;
    padding: 0.8rem;
    padding: 0%;
    justify-content: center;
}

input {
    width: 90%;
    height: 55px;
    background: #DCB1B1;
    margin: 1px 0 15px;
    color: black;
}
#category{
    width: 90%;
    height: 55px;
    background: #DCB1B1;
    margin: 1px 0 20px;
}
#user_input {
    padding: 2rem;
    padding-left: 0;
    justify-content: center;
    font-size: 1rem;
}
#form_submit {
    width: 50%;
    height: 60px;
    margin: 10px 7rem 0;
    background: #DCB1B1;
}

#left_ellipse {
    position: absolute;
    background: #F55E5E;
    border-radius: 50%;
    width: 220px;
    height: 220px;
}
#inner_circle {
    position: absolute;
    width: 184px;
    height: 184px;
    left: -55px;
    top: 1003px;
    border-radius: 50%;

    background: #6479EB;
}
#right_ellipse {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: #FFAC5F;
}
/* Home 

position: static;

left: 10px;
top: 21px;




/* Inside Auto Layout 
flex: none;
order: 0;
flex-grow: 0;
margin: 10px 0px;


/* submit box: Rectangle 35 

position: absolute;
width: 160px;
height: 71px;
left: 233px;
top: 903px;

background: #DCB1B1;


/* delete, empty: Rectangle 38 

position: absolute;
visibility: hidden;
width: 160px;
height: 71px;
left: 449px;
top: 20px;

background: #6479EB;


/* submit 

position: absolute;
width: 108px;
height: 32px;
left: 259px;
top: 923px;

font-family: Offside;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 38px;
text-align: center;

color: #000000;



/* right outer box: Rectangle 36 

position: absolute;
width: 720px;
height: 1024px;
left: 720px;
top: 0px;

background: #DCB1B1;


/* answer 1 box: Rectangle 37  

position: absolute;
width: 608px;
height: 78px;
left: 35px;
top: 207px;

background: #DCB1B1;


/* popup: numbers 

position: absolute;
width: 254px;
height: 38px;
left: 198px;
top: 215px;

font-family: Offside;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 38px;
/* identical to box height 
text-align: center;

color: #000000;






/* instructions/info */





/* inner box (stuff goes here): Rectangle 40 

position: absolute;
width: 610px;
height: 768px;
left: 775px;
top: 187px;

background: #C67CE9;


/* answer 2 box: Rectangle 41 

position: absolute;
width: 608px;
height: 80px;
left: 35px;
top: 384px;

background: #DCB1B1;


/* answer 3 box: Rectangle 42 

position: absolute;
width: 610px;
height: 91px;
left: 35px;
top: 582px;

background: #DCB1B1;


/* question 1 box: Rectangle 43 

position: absolute;
width: 608px;
height: 59px;
left: 35px;
top: 140px;

background: #DCB1B1;


/* stuff goes here 

position: absolute;
width: 459px;
height: 334px;
left: 865px;
top: 379px;

font-family: Offside;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 63px;
text-align: center;

color: #000000;



/* Number of Questions: 

position: absolute;
width: 492px;
height: 38px;
left: 79px;
top: 149px;

font-family: Offside;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 38px;
/* identical to box height 
text-align: center;

color: #000000;



/* question 2 box: Rectangle 44 

position: absolute;
width: 610px;
height: 59px;
left: 35px;
top: 317px;

background: #DCB1B1;


/* question 3 box: Rectangle 45 

position: absolute;
width: 610px;
height: 59px;
left: 35px;
top: 515px;

background: #DCB1B1;


/* Select Category: 

position: absolute;
width: 350px;
height: 51px;
left: 162px;
top: 330px;

font-family: Offside;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 38px;
text-align: center;

color: #000000;



/* popup options (2) 

position: absolute;
width: 306px;
height: 62px;
left: 171px;
top: 402px;

font-family: Offside;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 38px;
text-align: center;

color: #000000;



/* Select Difficulty: 

position: absolute;
width: 336px;
height: 62px;
left: 155px;
top: 525px;

font-family: Offside;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 38px;
text-align: center;

color: #000000;



/* popdown options (3) 

position: absolute;
width: 354px;
height: 58px;
left: 147px;
top: 603px;

font-family: Offside;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 38px;
text-align: center;

color: #000000;



/* question 4 box: Rectangle 47 

position: absolute;
width: 608px;
height: 56px;
left: 37px;
top: 713px;

background: #DCB1B1;


/* answer 4 box: Rectangle 48 

position: absolute;
width: 608px;
height: 80px;
left: 35px;
top: 780px;

background: #DCB1B1;


/* design: Ellipse 22 

position: absolute;
width: 150px;
height: 150px;
left: 540px;
top: 964px;

background: #FFAC5F;


/* popdown optoins (4) 

position: absolute;
width: 272px;
height: 38px;
left: 185px;
top: 801px;

font-family: Offside;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 38px;
/* identical to box height 
text-align: center;

color: #000000;



/* design: Ellipse 18 

position: absolute;
width: 220px;
height: 220px;
left: -65px;
top: 900px;

background: #F55E5E;


/* design: Ellipse 19 

position: absolute;
width: 184px;
height: 184px;
left: -55px;
top: 923px;

background: #6479EB; */
