/*** Quiz Page ***/
body {
  font-family: 'Comic Sans MS', monospace;
  background-color: #6479EB;
}

/* Home */
#quiz_page {
  max-height: 43.1rem;
  width: 100%;
  padding-left: 0%;
}
#home {
  background: #6479EB;
  height: 3.2rem;
  width: 8rem;
  justify-content: center;
  text-align: center;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* top left corner box: Rectangle 19 */
.navbar {
  height: 5rem;
  background: #C67CE9
}
#answer_box {
  padding: 6rem;
  padding-left: 41px
}
#home_tag {
  letter-spacing: 0em;
  font-size: 1.7rem;
  text-align: center;
  color: white;
  padding: 2rem;
}
#home:hover {
  background-color: #FFAC5F;
  cursor: pointer;
}

#home_tag:hover {
  color: black;
}
  
input {
  display: none;
}
input[type=checkbox]:checked + label {
  background-color: #FCFE87;
} 
/* question circle: Ellipse */
.question_circle{
  position: fixed;
  width: 64rem;
  height: 64rem;
  left: 780px;
  top: -473px;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #DCB1B1;
  border: 1px solid #EEB2B2;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
}


/* question txt box */
.question_txt{
  position: fixed;
  width: 606px;
  height: 166px;
  left: 883px;
  top: 88px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 56px;
  color: #000000;

}

#form_submit {
  position: fixed;
  left: 317px;
  width: 13%;
  height: 87px;
  margin: 18px 7rem 0;
  background: #DCB1B1;
}
#form_submit:hover {
  cursor: pointer;
  background-color: #FCFE87;
}

label {
  /* inner box for #1: Rectangle 25 */
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
  width: 574px;
  height: 70px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  font-size: 20px;
  background: #DCB1B1;
  padding-left: 6.5rem;
  justify-content: center;
  line-height: 4rem;
  margin-bottom: -24px;
}

label:hover {
  cursor: pointer;
  background-color: #FCFE87;
}


#container {
  background: #6479EB;
  width: 58px;
  height: 57px;
  position: relative;
  top: -39.2px;
  right: 641px;
}

h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  color: #FFFFFF;

}

.outer_ellipse{
  /* design: Ellipse 9 */
  position: fixed;
  width: 68px;
  height: 66px;
  left: 19px;
  top: 92px;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #FCFE87;
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);

}

.inner_ellipse{
/* design: Ellipse 10 */
  position: fixed;
  width: 38px;
  height: 40px;
  left: 34px;
  top: 104px;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #6479EB;
}

.regular_ellipse{
/* Design: Ellipse 6 */
  position: fixed;
  width: 121px;
  height: 121px;
  left: 1312px;
  top: 613px;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #FFAC5F;
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
}

.half_ellipse{
/* Design: Ellipse 11 */
  position: fixed;
  width: 120px;
  height: 104px;
  left: 765px;
  top: 710px;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #F55E5E;
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.outer_cut_ellipse{
/* design: Ellipse 7 */
  position: fixed;
  width: 360px;
  height: 360px;
  left: -130px;
  top: 619px;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #84C4F3;
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
}

.inner_cut_ellipse{
/* design: Ellipse 8 */
  position: fixed;
  width: 300px;
  height: 300px;
  left: -97px;
  top: 641px;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #6479EB;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}