/*** Quiz Page ***/
body {
  font-family: 'Comic Sans MS', monospace;
  background-color: #6479EB;
}

/* Home */
#quiz_page {
  max-height: 43.1rem;
  width: 100%;
  padding-left: 0%;
}
#home {
  background: #6479EB;
  height: 3.2rem;
  width: 8rem;
  justify-content: center;
  text-align: center;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* top left corner box: Rectangle 19 */
.navbar {
  height: 5rem;
  background: #C67CE9
}
#answer_box {
  padding: 5rem;
}
#home_tag {
  letter-spacing: 0em;
  font-size: 1.7rem;
  text-align: center;
  color: white;
  padding: 2rem;
}
#home:hover {
  background-color: #FFAC5F;
  cursor: pointer;
}

#home_tag:hover {
  color: black;
}
  
input {
  display: none;
}
/* question circle: Ellipse */
.question_circle{
  position: fixed;
  width: 846px;
  height: 936px;
  left: 864px;
  top: -330px;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #DCB1B1;
  border: 1px solid #EEB2B2;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
}


/* question txt box */
.question_txt{
position: fixed;
width: 615px;
height: 175px;
left: 854px;
top: 173px;

font-style: normal;
font-weight: normal;
font-size: 70px;
line-height: 88px;

color: #000000;

}
#answer1{
/* outer box for #1: Rectangle 21 */
  width: 544px;
  height: 98px;


  background: #DCB1B1;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

}

#answer2{
/* outer box for #2: Rectangle 22 */
  width: 544px;
  height: 98px;


  background: #DCB1B1;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#answer3{
/* outer box for #3: Rectangle 23 */
  width: 544px;
  height: 98px;


  background: #DCB1B1;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#answer4{
/* outer box for #4: Rectangle 24 */
  width: 544px;
  height: 98px;


  background: #DCB1B1;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#form_submit {
  width: 40%;
  height: 70px;
  margin: 10px 7rem 0;
  background: #DCB1B1;
}

label {
/* inner box for #1: Rectangle 25 */
  background: #6479EB;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 84px;
  height: 72px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  font-size: 40px;
}

#container {
  width: 2rem;
}

h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 70px;

  color: #FFFFFF;

}

.outer_ellipse{
/* design: Ellipse 9 */
  position: fixed;
  width: 68px;
  height: 66px;
  left: 19px;
  top: 139px;

  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  background: #FCFE87;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.inner_ellipse{
/* design: Ellipse 10 */
  position: fixed;
  width: 38px;
  height: 40px;
  left: 34px;
  top: 152px;

  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  background: #6479EB;
}

.regular_ellipse{
/* Design: Ellipse 6 */
  position: fixed;
  width: 122px;
  height: 122px;
  left: 1279px;
  top: 851px;

  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  background: #FFAC5F;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.half_ellipse{
/* Design: Ellipse 11 */
  position: fixed;
  width: 120px;
  height: 104px;
  left: 765px;
  top: 980px;

  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  background: #F55E5E;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.outer_cut_ellipse{
/* design: Ellipse 7 */
  position: fixed;
  width: 360px;
  height: 360px;
  left: -127px;
  top: 821px;

  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  background: #84C4F3;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.inner_cut_ellipse{
/* design: Ellipse 8 */
  position: fixed;
  width: 300px;
  height: 300px;
  left: -97px;
  top: 851px;

  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  background: #6479EB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}