* { font-family: 'Comic Sans MS', monospace;}
/* background: Rectangle 16 */
.main_background{
position: absolute;
/*change to what size works in codio*/
width: 1440px;
height: 1024px;
left: 0px;
top: 0px;

background: #6479EB;
}

/* design: Ellipse 12 */
.circle_1{
position: absolute;
width: 50px;
height: 50px;
left: 193px;
top: 169px;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;

background: #E46C6C;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* design: Ellipse 12 */


/* design: Ellipse 11 */
.circle_2{
position: absolute;
width: 280px;
height: 280px;
left: 1089px;
top: 39px;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 50%;

background: #54B8F0;
}

/* design: Ellipse 17 */
.inner_circle_2{
position: absolute;
width: 261px;
height: 261px;
left: 1099px;
top: 49px;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 50%;
    
    
background: #6479EB;
}

/* design: Ellipse 13 */
.circle_3{
position: absolute;
width: 182px;
height: 182px;
left: 87px;
top: 705px;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 50%;

background: #D9FA7D;
}

/* design: Ellipse 14 */
.inner_circle_3{
position: absolute;
width: 150px;
height: 150px;
left: 103px;
top: 721px;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 50%;

background: #6479EB;
}

/* design: Ellipse 15 */
.circle_4{
position: absolute;
width: 251px;
height: 248px;
left: 1296px;
top: 705px;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 50%;

background: #FF5C5C;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* center title circle: Ellipse 16 */
.main_circle{
position: absolute;
width: 580px;
height: 580px;
left: 430px;
top: 182px;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 50%;

background: #3A4998;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

/* corner box: Rectangle 32 */
.tabs{
position: absolute;
width: 786px;
height: 103px;
left: -55px;
top: -7px;

background: #C67CE9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Rectangle 33 */
.tab_names{
position: absolute;
width: 160px;
height: 71px;
left: 19px;
top: 9px;
        
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
        
background: #6479EB;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        
}



/* Info */
h2{
position: absolute;
width: 104px;
height: 36px;
left: 45px;
top: -15px;

font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 38px;
text-align: center;

color: #FFFFFF;
}


/* title design: Line 1 */
.line1{
position: absolute;
width: 855.59px;
height: 0px;
left: 300px;
top: 450px;
    
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
transform: rotate(45deg);
}

/* title design: Line 2 */
.line2{
position: absolute;
width: 874.64px;
height: 0px;
left: 300px;
top: 450px;

border: 1px solid #000000;
transform: rotate(-45deg);
}

/* Trivia Kings */
h1{
position: absolute;
width: 874px;
height: 279px;
left: 285px;
top: 175px;

font-style: normal;
font-weight: normal;
font-size: 150px;
line-height: 189px;
text-align: center;

color: #DCB1B1;
}


/* Welcome! Let us help you enhance your KNOWLAGE */
h3{
position: absolute;
width: 710px;
height: 124px;
left: 349px;
top:775px;

font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 63px;
display: flex;
align-items: flex-end;
text-align: center;

color: #DCB1B1;
}

#text1{
position: absolute;
width: 710px;
height: 124px;
left: 547px;
top:890px;

font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 63px;
display: flex;
align-items: flex-end;
text-align: center;

color: #DCB1B1;

}
